
.title{
	border: none;
	padding: 5px 14px;
	text-align: center;
	font-size: 25px;
	color: white;
	background-color: blue;
}

.errorMsg{
	border: none;
	float: center;
	text-align: center;
	padding: 5px 14px;
	margin-top: 20px;
	font-size: 18px;
	background: #ff9999;
	color:grey;
}
